services:
  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "8000:8000"
    networks:
      - app-net

  client:
    build:
      context: ./client
    container_name: client
    depends_on:
      - server
    networks:
      - app-net

networks:
  app-net:
    driver: bridge